@import '../../styles/variables.scss';

.suggestList {
  padding: 0 45px;
  margin-bottom: 92px;

  &__intro {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
  }

  &__title {
    font-family: $fontPoppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: $cardTitle;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    gap: 6px;
    background: $cardListText;
    border-radius: 12px;
    border-width: 0px;
    font-family: $fontPoppins;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: $cardTitle;

    &:hover {
      background: $bgInput;
    }

    &_disable {
      color: $buttonDisable;

      &:hover {
        background: $cardListText;
      }
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3em;
  }

}

.card {
  width: 22%;
  position: relative;

  &__imgWraper {
    width: 100%;
    overflow: hidden;
    margin-bottom: 2em;

    & img {
      width: 100%;
      height: 100%;
      object-fit: fill;
      border-radius: 12px;
    }
  }

  &__title {
    margin-bottom: 4px;
    font-family: $fontPoppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: $cardTitle;
  }

  &__description {
    margin-bottom: 2em;
    font-family: $fontSans;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $cardSimpleText;
  }

  &__priceBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price {
    font-family: $fontPoppins;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: $cardTitle;

    &_noDiscount {
      font-family: $fontPoppins;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      color: $cardLightText;
    }
  }

  &__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 12px;
    gap: 6px;
    background: $greenText;
    border: 2px solid $cardButtonBorder;
    border-radius: 12px;
    font-family: $fontPoppins;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: $cardListText;

    &:hover {
      background: $greenButtonHover;
    }
  }

  &__discount {
    position: absolute;
    top: 16px;
    left: 16px;
    font-family: $fontPoppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: $cardButton;
    background: $amountOfCategory;
    padding: 2px 8px 2px 8px;
    border-radius: 12px;
    text-align: center;
  }
}
