@import '../../styles/variables.scss';

.sidebar {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  gap: 40px;

  &__topic {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 10px;
    color: $cardTitle;
  }

  &__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $cardTitle;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    padding-top: 1.5em;
    position: relative;
  }
}

.categories {
  &__item {
    display: flex;
    gap: 100px;
    padding-bottom: 8px;

    &_active {
      background-color: $activeCategory;
      padding: 0 8px 0 8px;
      border-radius: 12px;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__name {
    width: 75px;
  }

  &__amount {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: $cardButton;
    background: $amountOfCategory;
    padding: 0 8px 0 8px;
    border-radius: 12px;
    text-align: center;
  }
}

.brands {
  &__item {
    display: flex;
    padding-bottom: 8px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.price {
  &__button span {
    position: absolute;
    bottom: 2.6em;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: $cardTitle;
  }
}

.reset {
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: $cardLineThrough;

  &:hover {
    color: $greenText;
  }
}
