@import '../../styles/antdVariables.css';

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--color-dropDown-mark) !important;
  border-color: var(--color-checkbox-mark);
}

.ant-rate-star {
  font-size: 15px;
  margin: 1px !important;
}

.ant-slider-track {
  background: var(--color-dropDown-mark) !important;
  height: 3px;
}

.ant-slider-handle {
border:1px solid var(--color-slider-handle) !important;
}

.ant-input-number {
background-color: var(--color-ant-input-number) !important;
width: 4.5em !important; 
border: 0px !important;
}

.ant-input-number-input-wrap  {
  background: var(--color-ant-input-number-wrap);
  border: 1px solid var(--color-ant-input-number-border);
  border-radius: 12px ;
  color: var(--color-ant-input-number-text);
}

.ant-input-number-handler-wrap {
  height: 2em;
  margin-top: 1.2em;
}
