$greenText: #6A983C;
$bgTags: #F5F5F5;
$bgInput: #F9F9F9;
$cardBorder: #e0e0e0;
$buttonDisable: #acacac;
$cardTitle: #151515;
$cardSimpleText: #575757;
$cardLightText: #A9A9A9;
$cardLineThrough: #A9A9A9;
$cardButton: #6A983C;
$cardButtonBorder: #46760A;
$greenButtonHover: #476728;
$activeCategory: #c3d3a2;
$amountOfCategory: #F4F8EC;
$cardListText: #FFFFFF;
$buttonProductHover: rgb(62, 183, 66);
$buttonWishHover: rgb(224, 224, 224);
$categoryHover: rgba(225, 242, 214, 0.329);
$selectBorder: #D1D1D1;
$messageBg: rgb(233, 229, 229);

$fontPoppins: 'Poppins';
$fontSans: 'Open Sans';
