$greenText: #6A983C;
$bgTags: #F5F5F5;
$bgInput: #F9F9F9;
$cardBorder: #e0e0e0;
$cardTitle: #151515;
$cardSimpleText: #575757;
$cardLightText: #A9A9A9;
$cardLineThrough: #A9A9A9;
$cardButton: #6A983C;
$cardButtonBorder: #46760A;
