.cards {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
  }

  &__spiner {
    position: relative;

    & span {
      position: absolute;
      top: 5em;
      left: 15em;
    }
  }
}
