@import '../../styles/variables.scss';

.card {
  display: flex;
  border: 1px solid $cardBorder;
  border-radius: 1em;
  margin-bottom: 2em;
  max-width: 100%;

  &__imgWraper {
    width: 50%;
    height: 280px;
    display: flex;
    align-items: center;
    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;
      object-fit: fill;
      border-radius: 12px;
    }
  }

  &__body {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 2em;
  }

  &__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: $cardTitle;
  }

  &__simpleText {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $cardSimpleText;
  }

  &__stars {
    color: $cardTitle !important;

    & span svg {
      width: 17px;
    }
  }

  &__price,
  &__delivery {
    margin-bottom: 1em;
  }

  &_lightText {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $cardLightText;
  }

  &__info {
    min-width: 190px;
  }

  &__checkout {
    min-width: 145px;
  }

  &__list {
    margin-top: 20px;

    &_overflow {
      display: inline-block;
      width: 75px;
      margin: 0 1em 0 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &_spanBlock {
      display: inline-block;
      vertical-align: top;
    }

    &_height {
      margin-bottom: 5px;

      &:last-child {
        margin: 0;
      }
    }
  }

  &_greenColor {
    color: $cardButton;
  }

  &_lineThrough {
    text-decoration: line-through;
    color: $cardLineThrough;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }

  &__productButton {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 0.5em;
    background: $cardButton;
    border: 2px solid $cardButtonBorder;
    border-radius: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: $cardListText;
    margin-bottom: 12px;

    &:hover {
      background: $buttonProductHover;
    }
  }

  &__wishButton {
    display: flex;
    align-items: center;
    gap: 0.3em;
    padding: 6px 12px;
    background: $bgTags;
    border-radius: 12px;
    border: $bgTags;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: $cardTitle;

    &:hover {
      background: $buttonWishHover;
    }
  }

  &_deliveryFont {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
  }

  &_deliveryFontInfo {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
}


@media screen and (max-width: 910px) {
  .card {
    flex-direction: column;

    &__imgWraper {
      width: 100%;
      justify-content: flex-end;
    }
  }
}

@media screen and (max-width: 735px) {
  .card {

    &__body {
      flex-direction: column;
    }
  }
}


@media screen and (min-width: 2200px) {
  .card {
    width: 48%;
  }
}


@media screen and (max-width: 700px) {
  .card {

    &__body {
      flex-direction: row;
    }
  }
}

@media screen and (max-width: 545px) {
  .card {

    &__body {
      flex-direction: column;
      justify-content: center;
    }
  }
}
