@import '../../styles/variables.scss';

.card {
  display: flex;
  border: 1px solid $cardBorder;
  border-radius: 1em;
  margin-bottom: 2em;
  max-width: 850px;

  &__img {
    width: 380px;
    height: 280px;
    display: flex;
    align-items: center;
    padding-left: 1em;

    & img {
      width: 100%;
      max-height: 100%;
      object-fit: fill;
    }
  }

  &__body {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 2em;
  }

  &__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: $cardTitle;
    margin: 0;
  }

  &__simpleText {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $cardSimpleText;
    margin: 0;
  }

  &__stars {
    color: $cardTitle !important;

    & span svg {
      width: 17px;
    }
  }

  &__price,
  &__delivery {
    margin-bottom: 1em;
  }

  &_lightText {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $cardLightText;
  }

  &__info {
    min-width: 190px;
  }

  &__checkout {
    min-width: 145px;
  }

  &__list {
    margin-top: 20px;
    padding: 0;
    list-style: none;

    &_overflow {
      display: inline-block;
      width: 60px;
      margin: 0 1em 0 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &_spanBlock {
      display: inline-block;
      margin: 0;
      vertical-align: top;
    }

    &_height {
      height: 2em;
    }
  }

  &_greenColor {
    color: $cardButton;
  }

  &_lineThrough {
    text-decoration: line-through;
    color: $cardLineThrough;
    margin: 0;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }

  &__productButton {
    padding: 12px 16px;
    background: $cardButton;
    border: 2px solid $cardButtonBorder;
    border-radius: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 12px;
  }

  &__wishButton {
    padding: 6px 12px;
    background: $bgTags;
    border-radius: 12px;
    border: $bgTags;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: $cardTitle;
  }

  &_deliveryFont {
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
  }

  &_deliveryFontInfo {
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
}


@media screen and (max-width: 910px) {
  .card {
    flex-direction: column;

    &__img {
      width: 100%;
      justify-content: flex-end;
    }
  }
}
