@import '../../styles/variables.scss';

.item {
  display: flex;

  &__imageBlock {
    width: 50%;
    padding-right: 45px;
  }

  &__stars {
    color: $cardTitle !important;
  }

  &__imgWraper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;

    & img {
      width: 46%;
      max-height: 880px;
      object-fit: fill;
      border-radius: 12px;
    }

    & img:first-child {
      width: 100%;
      object-fit: contain;
      max-height: 410px;
    }

    &_pressSide {
      display: flex;
      justify-content: space-between;

      & img {
        width: 46% !important;
      }
    }
  }

  &__discount {
    width: 100%;
  }

  &__discount {
    display: flex;
    gap: 1em;

    & span:first-child {
      margin-left: 1em !important;
    }

    & span {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      color: $cardButton;
      background: $amountOfCategory;
      padding: 2px 8px 2px 8px;
      border-radius: 12px;
      text-align: center;
    }
  }

  &__body {
    width: 50%;
  }

  &__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: $cardTitle;
  }

  &__starBlock {
    display: flex;
    align-items: center;

    & p {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: $cardLightText;
    }

    & p:last-child {
      align-self: auto;
      padding-top: 7px;
      padding-left: 5px;
    }
  }

  &__description {
    padding: 40px 0;
    max-width: 800px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: $cardTitle;
  }

  &__listBlock {
    display: flex;
    gap: 20%;
  }

  &__list {

    &_overflow {
      display: inline-block;
      width: 80px;
      margin: 0 1em 0 0;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: $cardLightText;
    }

    &_spanBlock {
      display: inline-block;
      vertical-align: top;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: $cardTitle;
    }

    &_height {
      margin-bottom: 5px;

      &:last-child {
        margin: 0;
      }
    }

    &_greenColor {
      color: $cardButton;
    }

    &_lineThrough {
      text-decoration: line-through;
      color: $cardLineThrough;
    }
  }

  &__wishList {
    margin-top: 24px;
    padding: 6px 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: $cardTitle;
  }

}

.buttonMenu {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  border: 1px solid $bgTags;
  border-radius: 12px;
  padding: 16px;

  &__price {
    & p:first-child {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 39px;
      color: $cardTitle;
    }

    & p:last-child {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      color: $cardLineThrough;
    }
  }

  &__button {
    display: flex;
    padding: 4px 0;
    gap: 16px;

    &_green {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 22px;
      color: $cardListText;
      background: $greenText;
      border: 2px solid $cardButtonBorder;
      border-radius: 12px;
      padding: 12px;

    }
  }
}

.select {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background: $bgInput;
  border: 1px solid $selectBorder;
  border-radius: 12px;

  &__number {
    padding-left: 8px;
    width: 45px;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $selectBorder;

    & div {
      width: 2.5em !important;
      border: none;

      & div:first-child {
        top: -70%;
        width: 1.1em !important;
        background: $bgInput;
      }
    }
  }


  &__divider {
    border-left: 1px solid $selectBorder;
  }

}
