@import '../../styles/variables.scss';

.item {
  display: flex;
  min-height: 20vh;

  &__spiner {
    position: relative;

    & span {
      position: absolute;
      left: 48vw;
    }
  }

  &__body {
    width: 50%;
  }

}
